<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/city.css">
<h3>Город</h3>
<p><img src="/images/city/gorod.jpg" alt="."><br>Добро пожаловать в портовый город!</p>
<ul class="list_a">
  <li><a href="/shop"><div class="body_div">
    <span class="body_span2"><img src="/images/city/lavka.png"></span>Магазин</div></a></li>
  <li><a href="/tavern"><div class="body_div">
    <span class="body_span"><img src="/images/city/taverna.png"></span>Таверна</div></a></li>
  <li><a href="/verf"><div class="body_div">
    <span class="body_span3"><img src="/images/city/verf2.png"></span>Верфь</div></a></li>
  <li><a href="/bank"><div class="body_div">
    <span class="body_span"><img src="/images/city/bank.png"></span>Банк</div></a></li>
  <li><a href="/alchimik"><div class="body_div">
    <span class="body_span1"><img src="/images/city/alkhimik1.png"></span>Лавка алхимика</div></a></li>
  <li><a href="/college"><div class="body_div">
    <span class="body_span3"><img src="/images/city/akademia.png"></span>Мореходный колледж</div></a></li>
</ul>
