<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/clan.css">
<h3>Клан</h3>
<p>В скором времени на этой странице вы сможете создавать либо вступать в кланы. Вам станет доступна
  возможность вместе с друзьями нападать на вражеские порты и уходить с ценной добычей! Но не забывайте о
  защите своего порта. Также вы сможете вместе с отрядом грабить золотые и серебряные караваны!</p>
