<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/verf.css">
<h3>Мореходный колледж</h3>
<ul class="list_a">
<li><a href="/college/skills"><div class="body_div">
  <span class="body_span"><img src="/images/college/navyki.png"></span>Навыки</div></a></li>
  <li><a href="/college/attack_abilities"><div class="body_div">
    <span class="body_span"><img src="/images/college/atakuyuschie.png"></span>Атакующие способности</div></a></li>
    <li><a href="/college/protection_abilities"><div class="body_div">
      <span class="body_span"><img src="/images/college/zaschitnye.png"></span>Защитные способности</div></a></li>
      <li><a href="/college/ship_abilities"><div class="body_div">
        <span class="body_span"><img src="/images/college/korabelnye.png"></span>Корабельные способности</div></a></li>
  <li><a href="/city"><div class="body_div">
    <span class="body_span"><img src="/images/frontpage/gorod1.png"></span>Город</div></a></li>
</ul>
