<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/city.css">
<h3>Золотые слитки</h3>
<p>Раздел в разработке. Скоро появится возможность приобретать золотые слитки в обмен на реальные деньги!</p>
