<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/promo.css">
<h3>Акция</h3>
<p><span class="span_text">В честь открытия игры администрация проводит акцию</span><br><br>
  <span class="span_text">Условия:</span> До 21 октября успейте приобрести любое судно 5 ранга и выше<br>
  <span class="span_text">Награда:</span> Вы получите любую способность 5 уровня на выбор либо 1000 рублей если успеете выполинть условия акции первыми.  Дерзайте!!!</p>
