<% layout('./layout/page') -%>
<% block('title', 'Корсары'); -%>
<link rel="stylesheet" href="/css/verf.css">
<h3>Верфь</h3>
<ul class="list_a">
<li><a href="/verf/ships_light"><div class="body_div">
  <span class="body_span1"><img src="/images/verf/legkie-suda.png"></span>Легкие суда</div></a></li>
  <li><a href="/verf/ships_5"><div class="body_div">
    <span class="body_span"><img src="/images/verf/5rang.png"></span>Корабли 5-го ранга</div></a></li>
    <li><a href="/verf/ships_4"><div class="body_div">
      <span class="body_span"><img src="/images/verf/4rang.png"></span>Корабли 4-го ранга</div></a></li>
      <li><a href="/verf/ships_3"><div class="body_div">
        <span class="body_span"><img src="/images/verf/3rang.png"></span>Корабли 3-го ранга</div></a></li>
<li><a href="/verf/guns"><div class="body_div">
  <span class="body_span2"><img src="/images/verf/orudia.png"></span>Орудия</div></a></li>
  <li><a href="/city"><div class="body_div">
    <span class="body_span"><img src="/images/frontpage/gorod1.png"></span>Город</div></a></li>
</ul>
