h3 {
  text-align:center;
  padding: 0 4.2% 15px 4.2%;
  color: #302314;
}
p{
  font-size: 14px;
  margin-top: 3px;
  padding-right: 4.2%;
  color: #302314;
}
.img_shop{
  margin-top: 5px;
  margin-right: 8px;
float: left;
font-size: 10px;
font-style: italic;

}

.span_shop_text{
  font-size: 14px;
  padding-right: 5px;
  color: #302314;
}
.form{
height: 24px;

  display: inline-block;

}
.button_buy{
  border: 0px;
 background: transparent;
 background-image: url(/images/kupKNP.jpg);
background-size: 98px 24px;
 height: 24px;
 width: 98px;
 color: transparent;
 cursor: pointer;
}
.input{
  border: 0px;
  width: 37px;
  height: 18px;
  border: 0px;
}
.ul_li {
  background-image: url(/images/8.png);
  background-repeat: no-repeat;
background-size: 100% 1px;
padding: 5px 0 4px 4.2%;
}
.block_div_shop{
  display: inline-block;
  padding-right: 4.2%;
}

.list_a{
  margin-top: 10px;
}
.body_span{
  position: relative;
  margin-right: 3px;
  top: 3px;
}
.body_span img{
  width: 19px;
}
