h3 {
  text-align:center;
  padding: 0 4.2% 0px 4.2%;
  color: #302314;
}
p{
  font-size: 15px;
  text-align: left;
  padding: 7px 1.2% 5px 1.2%;
  color: #302314;
}
.body_div{
  padding-bottom: 4px;
}
