h3 {
  text-align:center;
  padding: 0 4.2% 15px 4.2%;
  color: #302314;
}
p{
  font-size: 15px;
  text-align:center;
  padding: 0 4.2% 15px 4.2%;
  color: #302314;
}
.body_span{
  position: relative;
  margin-right: 3px;
  top: 3px;
}
.body_span img{
  width: 19px;
}
.body_span1{
  position: relative;
  margin-right: 3px;
  top: 2px;
}
.body_span1 img{
  width: 19px;
}
.body_span2{
  position: relative;
  margin-right: 3px;
  top: 5px;
}
.body_span2 img{
  width: 19px;
}
