<% if(user) { %>
 <nav id="downNavigation" role="navigation">
  <ul>
    <li><a href="/"><span class="down_span"><img src="/images/navi_niz/glavnaya1.png"></span>На главную</a></li>
    <li><a href="/user"><span class="down_span2"><img src="/images/navi_verch/pers2.png"></span>Персонаж</a></li>
    <li><a href="/user/ship"><span class="down_span3"><img src="/images/navi_niz/korabl.png"></span>Корабль</a></li>
    <li><a href="/gold"><span class="down_span2"><img src="/images/navi_verch/zoloto2.png"></span>Золотые слитки</a></li>
  </ul>
</nav>
<% } %>
