h3 {
  padding: 3px 4.2% 0px 4.2%;
  color: #302314;
  text-align: center;
}
.div_zagolovok{
  font-size: 16px;
  color: #946012;
  text-align: center;
  font-weight: 510;
  margin-bottom: 15px;
}
.img_shop1{
    margin-left: 4.2%;
    margin-top: 10px;
}
p{
  font-size: 15px;
  color: #302314;
}
.img_display{


  display: flow-root;
}
.block_div{
  display: inline-block;
}
.img_shop_activity{
font-size: 10px;
font-style: italic;
}
#letters_effects {
  padding: 0 4.2% 0 4.2%;
}
.img_shop{

    position: relative;
    top: 3px;
    display: inline;
}
.img_shop3{

    position: relative;
    top: 2px;
    display: inline;
}
.img_shop2{

    position: relative;
    top: 4px;
    display: inline;
}
.ul_li {
padding: 5px 4.2% 4px 4.2%;
}

.list_a{
  margin-top: 10px;
}
.body_span{
  position: relative;
  margin-right: 3px;
  top: 3px;
}
.body_span img{
  width: 19px;
}
.body_span1{
  position: relative;
  margin-right: 3px;
  top: 2px;
}
.body_span1 img{
  width: 19px;
}
