h3 {
  padding: 3px 4.2% 15px 4.2%;
  color: #302314;
  text-align: center;
}
p{
font-size: 16px;
color: #946012;
font-weight: 510;
}
.a_hover:hover{
  color: #946012;
}
#plavanie_table{
  margin: auto;
}
table {
    table-layout: fixed;
    width:200px;
}
td { word-wrap:break-word; }
.info_plavanie{
  text-align: center;
  width: 90px;
}
.info_image{
  text-align: center;
  width: 20px;
}
.block_plavanie {
  font-size: 15px;
  color: #302314;
}
#span_text{
  text-align: center;
  font-size: 15px;
padding: 2px 4.2% 4px 4.2%;
color: #302314;
font-weight: normal;
display: block;
}
.span_a {
  text-align: center;
  margin-bottom: 7px;
}
#span_a img {
  width: 19px;
}
.button{
  border: 0px;
 background: transparent;
 font-size: 16px;
 cursor: pointer;
 color: #563711;
 display: block;
 width: 100%;
 text-align: left;
}
.body_div {
    height: 20px;
    padding: 4px 3.6% 8px 3.6%;
}
.button:hover{
background: #cfa970;
}
.body_span{
  position: relative;
  margin-right: 3px;
  top: 2px;
}
.body_span img{
  width: 17px;
}
.body_span2{
  position: relative;
  margin-right: 1px;
  top: 3px;
}
.body_span2 img{
  width: 19px;
}
.img_shop{
    width: 15px;
    margin-top: 3px;
    display: inline;
}
.img_shop1{
    margin-bottom: 5px;
}
