h3 {
  padding: 3px 4.2% 5px 4.2%;
  color: #302314;
  text-align: center;
}
p{
  text-align: center;
  font-size: 15px;
padding: 0 4.2% 0px 4.2%;
color: #302314;
}
.div_zagolovok{
  font-size: 16px;
  color: #946012;
  text-align: center;
  font-weight: 510;
  margin-bottom: 13px;
  margin-top: 8px;
}
.list_a{
  margin-top: 5px;
}
.form {

}
.button{
  border: 0px;
 background: transparent;
 font-size: 16px;
 cursor: pointer;
 color: #563711;
 display: block;
 width: 100%;
 text-align: left;
}
.body_div {
    height: 20px;
    padding: 4px 3.6% 8px 3.6%;
}
.button:hover{
background: #cfa970;
}
.body_span{
  position: relative;
  margin-right: 3px;
  top: 3px;
}
.body_span img{
  width: 19px;
}
.body_span1{
  position: relative;
  margin-right: 3px;
  top: 2px;
}
.body_span1 img{
  width: 19px;
}
.body_span2{
  position: relative;
  margin-right: 3px;
  top: 1px;
}
.body_span2 img{
  width: 19px;
}
.body_span3{
  position: relative;
  margin-right: 3px;
  top: 4px;
}
.body_span3 img{
  width: 19px;
}
